{% extends 'www/base.html' %}
{% load static %}
{% block content %}
    <header>
        <h1>IT-Run Restaurant</h1>
        <a href="{% url 'order_form' %}" class="back-btn">Оформить заказ</a>
        <a href="{% url 'order_list' %}" class="back-btn">Заказы</a>
    </header>
    <main>
        {% for food in foods %}
            <section class="dish">
                <h2>{{ food.name }}</h2>
                <img src="{{ food.image.url }}" alt="{{ food.name }}">
                <p>Состав: {{ food.compound }}</p>
                <p>Вес: {{ food.weight }} г</p>
                <p>Цена: {{ food.price }} KGS</p>
            </section>
        {% endfor %}
        {% for drink in drinks %}
            <section class="dish">
                <h2>{{ drink.name }}</h2>
                <img src="{{ drink.image.url }}" alt="{{ drink.name }}">
                <p>Вес: {{ drink.weight }} г</p>
                <p>Цена: {{ drink.price }} KGS</p>
            </section>
        {% endfor %}
    </main>
{% endblock %}